
<div class="dashboard-layout">
    <div class="dashboard">
        <div class="dashboard-header">
            <h1 class="dashboard-header-text">{{ 'dashboard.title' | i18next }}</h1>
        </div>

        <div class="dashboard-card-wrapper">
            <div class="dashboard-card">
                <h2 class="dashboard-card-text">{{ 'dashboard.totalCases' | i18next }}</h2>
                <p class="dashboard-card-number">{{ caseCount }}</p>
            </div>
        </div>

        <app-case-list (totalElementsChange)="onTotalCasesChange($event)"></app-case-list>
    </div>
</div>
