html, body {
  height: 100%;
  font-family: 'Inter', -apple-system, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fdfcfc;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex-grow: 1;
  min-height: 0;
  flex-direction: column;
  justify-content: center;
}