<div class="dashboard-layout">
    <div class="dashboard-shell">
        <div class="dashboard-header">
            <div>
                <h1 class="dashboard-header-text">Administravimo suvestinė</h1>
            </div>
        </div>

        <div class="dashboard-card-wrapper">
            <div class="dashboard-card">
                <h2 class="dashboard-card-text">Visi pranešimai</h2>
                <p class="dashboard-card-number">{{ caseCount ?? 0 }}</p>
            </div>
        </div>

        <div class="list-panel">
            <app-case-list (totalElementsChange)="onTotalCasesChange($event)"></app-case-list>
        </div>
    </div>
</div>
