<nav class="navbar" [class.navbar--hidden]="isNavbarHidden">
  <a class="navbar-brand" routerLink="/">VDVS</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Pranešimai</a>
    </li>
    @if (user?.type == 'ADMIN') {
      <li class="nav-item">
        <a class="nav-link" routerLink="/suppliers/create">Pridėti rangovą</a>
      </li>
    }
  </ul>

  <div class="navbar-spacer"></div>

  <ul class="navbar-nav">
    @if (isAuthenticated) {
      <li class="nav-item">
        <button class="nav-button" (click)="logout()">Atsijungti</button>
      </li>
    } @else {
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Prisijungti</a>
      </li>
    }
  </ul>
</nav>