<div class="dashboard-container">
  <div class="cases-panel">
    <div class="header">
      <h2>Pranešimai</h2>
    </div>
    <button mat-raised-button class="add-case-btn" routerLink="/cases/select-case-type">Naujas pranešimas</button>
    <div class="cases-list">
      <div
        class="case-card"
        *ngFor="let caseItem of cases"
        (click)="goToCase(caseItem.id)"
      >
        <div class="card-title">
          {{ caseItem.title }}
        </div>
        @if (isWaitingForCurrentUserResponse(caseItem)) {
          <div class="card-indicator">
            Laukiama jūsų atsakymo
          </div>
        }
        <div class="card-subtype">
          {{ getSubtypeLabel(caseItem.subtype) }}
        </div>
        <div class="card-address">
          {{ caseItem.parameters?.address }}
        </div>
        <div class="card-date">
          {{ caseItem.createdAt | date:'yyyy-MM-dd HH:mm' }}
        </div>
      </div>
    </div>
  </div>
  <div class="map-panel">
    <div id="map"></div>
  </div>
</div>
