@if (case) {
  <div class="view-case-admin-page">
    <mat-card class="section-card">
      <div class="section-title">Užklausos informacija</div>

      <div class="field-row">
        <div class="field-label">Title</div>
        <div class="field-value">{{ case.title | capitalize }}</div>
      </div>

      <div class="field-row">
        <div class="field-label">Status</div>
        <div class="field-value">{{ case.status | capitalize | removeUnderscores }}</div>
      </div>

      <div class="field-row">
        <div class="field-label">Created at</div>
        <div class="field-value">{{ case.createdAt | date:'medium' }}</div>
      </div>

      @if (case.modifiedAt) {
        <div class="field-row">
          <div class="field-label">Modified at</div>
          <div class="field-value">{{ case.modifiedAt | date:'medium' }}</div>
        </div>
      }

      <div class="field-row type-row">
        <div class="field-label">Type</div>
        <div class="field-value">{{ case.type | removeUnderscores | capitalize }}</div>
      </div>

      <div class="field-row type-row">
        <div class="field-label">Subtype</div>
        <div class="field-value">{{ case.subtype | removeUnderscores | capitalize }}</div>
      </div>

      <div class="field-row description-row">
        <div class="field-label">Desc</div>
        <div class="field-value">{{ case.processingActions[0].parameters.description }}</div>
      </div>
    </mat-card>

    <mat-card class="section-card">
      <div class="section-title">
        Supplier assignment
      </div>
      <div class="field-row">
        <div class="field-label">Current supplier</div>
        <div class="field-value">
          {{ case.supplier?.name || 'Not assigned' }}
        </div>
      </div>

      <div class="suggestion-btn">
        <button
          mat-stroked-button
          color="primary"
          (click)="loadSupplierSuggestions()"
          [disabled]="isLoadingSuggestions">
          {{
            isLoadingSuggestions
              ? 'Generating suggestions...'
              : 'Suggest suppliers with AI'
          }}
        </button>
      </div>

      <mat-radio-group
        [(ngModel)]="selectedSupplier"
        class="supplier-radio-group">

        @if (suggestedSuppliers.length > 0) {
          <div class="supplier-section-title">
            Recommended (AI)
          </div>
          @for (supplier of suggestedSuppliers; track supplier.name) {
            <mat-radio-button
              [value]="supplier"
              class="supplier-option">
              <div class="supplier-option-content">
                <div class="supplier-header">
                  <strong>
                    {{ supplier.name }}
                  </strong>
                </div>
                <mat-progress-bar
                  mode="determinate"
                  [value]="supplier.confidence * 100">
                </mat-progress-bar>

                <div class="supplier-reason">
                  {{ supplier.reason }}
                </div>
              </div>
            </mat-radio-button>
          }
        }
        <div class="supplier-section-title">
          All suppliers
        </div>

        @for (supplier of allSuppliers; track supplier.id) {
          <mat-radio-button
            [value]="supplier"
            class="supplier-option">
            <div class="supplier-header">
              {{ supplier.name }}
            </div>
          </mat-radio-button>
        }
      </mat-radio-group>
      <div class="assign-button-container">
        <button
          mat-raised-button
          color="accent"
          (click)="assignSupplier()"
          [disabled]="!selectedSupplier ||isAssigningSupplier ||isSelectedSupplierCurrent()
        ">
          {{isSelectedSupplierCurrent() ? 'Already assigned' : 'Assign supplier' }}
        </button>
      </div>
    </mat-card>

    <div class="content-sections">
      <mat-card class="section-card-content left-pane">
        <app-comments-section
          [caseId]="case.id"
          [processingActions]="case.processingActions"
          (dataUpdated)="getCaseData()">
        </app-comments-section>
      </mat-card>

      <mat-card class="section-card-content right-pane">
        <app-processing-history
          [processingActions]="case.processingActions"
          [processingHistoryNotFound]="processingHistoryNotFound">
        </app-processing-history>
      </mat-card>
    </div>
  </div>
} @else {
  <div class="case-not-found">
    <p>Case not found.</p>
    <a routerLink="/">Back to list</a>
  </div>
}