<h1 class="form-header">{{ 'createCaseForm.header' }}</h1>

<form [formGroup]="caseForm" (ngSubmit)="onSubmit()" novalidate class="case-form">
  <div class="form-group">
    <label class="form-label" for="title">{{ 'title' }}</label>
    <app-custom-text-input
      formControlName="title"
      >
    </app-custom-text-input>
    @if (caseForm.get('title')?.invalid && (caseForm.get('title')?.touched || caseForm.get('title')?.dirty)) {
      <div
        class="error">
        @if (caseForm.get('title')?.errors?.required) {
          <div>{{ 'errorCaseForm.titleRequired': {ns: 'validation'} }}
          </div>
        }
        @if (caseForm.get('title')?.errors?.minlength) {
          <div>
            {{
            'errorCaseForm.titleMinLength': {
            ns: 'validation',
            count: caseForm.get('title')?.errors?.minlength.requiredLength
          }
          }}
        </div>
      }
      @if (caseForm.get('title')?.errors?.maxlength) {
        <div>
          {{
          'errorCaseForm.titleMaxLength': {
          ns: 'validation',
          count: caseForm.get('title')?.errors?.maxlength.requiredLength
        }
        }}
      </div>
    }
  </div>
}
</div>

<div class="form-group">
  <label class="form-label" for="type">{{ 'type' }}</label>
  <select class="form-select" id="type" formControlName="type">
    <option value="" disabled>{{ 'caseTypes.selectCaseType' }}</option>
    @for (option of caseType; track option) {
      <option [value]="option.value">{{ option.label }}</option>
    }
  </select>
  @if (caseForm.get('type')?.invalid && (caseForm.get('type')?.touched)) {
    <div
      class="error">
      {{ 'errorCaseForm.typeRequired': {ns: 'validation'} }}
    </div>
  }
</div>

@if (caseForm.get('type')?.value === 'INCIDENT') {
  <div class="form-group">
    <label class="form-label" for="incidentCategory">{{ 'createCaseForm.incidentCategory' }}</label>
    <select class="form-select" formControlName="incidentCategory">
      <option value="" disabled>{{ 'incidentCategories.selectCategory' }}</option>
      @for (option of incidentCategories; track option) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
    @if (caseForm.get('incidentCategory')?.invalid && (caseForm.get('incidentCategory')?.touched)) {
      <div
        class="error">
        {{ 'errorCaseForm.incidentCategoryRequired': {ns: 'validation'} }}
      </div>
    }
  </div>
}

@if (['INCIDENT', 'COMPLAINT'].includes(caseForm.get('type')?.value)) {
  <div class="form-group">
    <label class="form-label">{{ 'date' }}</label>
    <input class="form-input" type="date" formControlName="date" [max]="maxDate"/>
    @if (caseForm.get('date')?.invalid && (caseForm.get('date')?.touched)) {
      <div
        class="error">
        {{ 'errorCaseForm.dateRequired': {ns: 'validation'} }}
      </div>
    }
  </div>
}

@if (caseForm.get('type')?.value === 'REQUEST') {
  <div class="form-group">
    <label class="form-label" for="requestedService">{{ 'createCaseForm.requestedService' }}</label>
    <select class="form-select" formControlName="requestedService">
      <option value="" disabled>{{ 'requestedServices.selectService' }}</option>
      @for (option of requestedServices; track option) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
    @if (caseForm.get('requestedService')?.invalid && (caseForm.get('requestedService')?.touched)) {
      <div
        class="error">
        {{ 'errorCaseForm.requestedServiceRequired': {ns: 'validation'} }}
      </div>
    }
  </div>
}


@if (caseForm.get('type')?.value === 'FEEDBACK') {
  <div>
    <div class="form-group">
      <label class="form-label" for="feedbackCategory">{{ 'createCaseForm.feedbackCategory' }}</label>
      <select class="form-select" formControlName="feedbackCategory">
        <option value="" disabled>{{ 'feedbackCategories.selectCategory' }}</option>
        @for (option of feedbackCategories; track option) {
          <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
      @if (caseForm.get('feedbackCategory')?.invalid && (caseForm.get('feedbackCategory')?.touched)) {
        <div
          class="error">
          {{ 'errorCaseForm.feedbackCategoryRequired': {ns: 'validation'} }}
        </div>
      }
    </div>
    <div class="form-group">
      <label class="form-label">{{ 'createCaseForm.rating' }}</label>
      <select class="form-select" formControlName="rating">
        <option value="" disabled>{{ 'feedbackCategories.selectRating' }}</option>
        @for (r of ratings; track r) {
          <option [value]="r">{{ r }}</option>
        }
      </select>
      @if (caseForm.get('rating')?.invalid && (caseForm.get('rating')?.touched)) {
        <div class="error">
          {{ 'errorCaseForm.ratingRequired': {ns: 'validation'} }}
        </div>
      }
    </div>
  </div>
}

@if (['COMPLAINT', 'REQUEST', 'INCIDENT'].includes(caseForm.get('type')?.value)) {
  <div>
    <div class="form-group">
      <label class="form-label">{{ 'address' }}</label>
      <input class="form-input" formControlName="address"/>
      @if (caseForm.get('address')?.invalid && (caseForm.get('address')?.dirty || caseForm.get('address')?.touched)) {
        <div
          class="error">
          @if (caseForm.get('address')?.errors?.required) {
            <div>{{ 'errorCaseForm.addressRequired': {ns: 'validation'} }}</div>
          }
          @if (caseForm.get('address')?.errors?.minlength) {
            <div>
              {{
              'errorCaseForm.addressMinLength': {
              ns: 'validation',
              count: caseForm.get('address')?.errors?.minlength.requiredLength
            }
            }}
          </div>
        }
        @if (caseForm.get('address')?.errors?.maxlength) {
          <div>
            {{
            'errorCaseForm.addressMaxLength': {
            ns: 'validation',
            count: caseForm.get('address')?.errors?.maxlength.requiredLength
          }
          }}
        </div>
      }
    </div>
  }
</div>
</div>
}

@if (['COMPLAINT', 'REQUEST', 'INCIDENT', 'FEEDBACK'].includes(caseForm.get('type')?.value)) {
  <div class="form-group">
    <div class="form-group">
      <label class="form-label">{{'description'}}</label>
      <textarea class="form-textarea" formControlName="description" rows="6"></textarea>
      @if (caseForm.get('description')?.invalid && (caseForm.get('description')?.dirty || caseForm.get('description')?.touched)) {
        <div
          class="error">
          @if (caseForm.get('description')?.errors?.required) {
            <div>{{ 'errorCaseForm.descriptionRequired': {ns: 'validation'} }}</div>
          }
          @if (caseForm.get('description')?.errors?.minlength) {
            <div>
              Description must be at least {{ caseForm.get('description')?.errors?.minlength.requiredLength }}
              characters.
            </div>
          }
          @if (caseForm.get('description')?.errors?.maxlength) {
            <div>
              Description must be no more than {{ caseForm.get('description')?.errors?.maxlength.requiredLength }}
              characters.
            </div>
          }
        </div>
      }
    </div>
  </div>
}

<button type="submit" class="btn-submit" [disabled]="caseForm.invalid">{{ 'createCaseForm.submit' }}</button>
</form>
