<h1 class="form-header">Create Case</h1>

<form
        [formGroup]="caseForm"
        (ngSubmit)="onSubmit()"
        class="case-form"
        novalidate
>

    @let title = caseForm.controls.title ;
    @let type = caseForm.controls.type ;
    @let incidentCategory = caseForm.controls.incidentCategory ;
    @let requestedService = caseForm.controls.requestedService ;
    @let feedbackCategory = caseForm.controls.feedbackCategory ;
    @let rating = caseForm.controls.rating ;
    @let address = caseForm.controls.address ;
    @let description = caseForm.controls.description ;
    @let date = caseForm.controls.date ;

    <!-- ================= TITLE ================= -->
    <div class="form-group">
        <label class="form-label" for="title">Title</label>

        <app-custom-text-input id="title" formControlName="title"/>

        @if (title.invalid && title.dirty) {
            <div class="error">
                @if (title.errors?.['required']) {
                    <div>Title is required</div>
                }
                @if (title.errors?.['minlength']) {
                    <div>
                        Title must be at least
                        {{ title.errors.minlength.requiredLength }}
                        characters
                    </div>
                }
                @if (title.errors?.['maxlength']) {
                    <div>
                        Title must be at most
                        {{ title.errors.maxlength.requiredLength }}
                        characters
                    </div>
                }
            </div>
        }
    </div>

    <!-- ================= TYPE ================= -->
    <div class="form-group">
        <label class="form-label" for="type">Type</label>

        <select id="type" class="form-select" formControlName="type">
            <option value="" disabled>Select case type</option>
            @for (option of caseType; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
            }
        </select>

        @if (type.invalid) {
            <div class="error">Type is required</div>
        }
    </div>

    <!-- ================= INCIDENT CATEGORY ================= -->
    @if (type.value === 'INCIDENT') {
        <div class="form-group">
            <label class="form-label">Incident Category</label>

            <select class="form-select" formControlName="incidentCategory">
                <option value="" disabled>Select category</option>
                @for (option of incidentCategories; track option.value) {
                    <option [value]="option.value">{{ option.label }}</option>
                }
            </select>

            @if (incidentCategory.invalid) {
                <div class="error">Incident category is required</div>
            }
        </div>
    }

    <!-- ================= DATE ================= -->
    @if (type.value === 'INCIDENT' || type.value === 'COMPLAINT') {
        <div class="form-group">
            <label class="form-label">Date</label>

            <input
                    type="date"
                    class="form-input"
                    formControlName="date"
                    [max]="maxDate"
            />

            @if (date.invalid) {
                <div class="error">Date is required</div>
            }
        </div>
    }

    <!-- ================= REQUESTED SERVICE ================= -->
    @if (type.value === 'REQUEST') {
        <div class="form-group">
            <label class="form-label">Requested Service</label>

            <select class="form-select" formControlName="requestedService">
                <option value="" disabled>Select service</option>
                @for (option of requestedServices; track option.value) {
                    <option [value]="option.value">{{ option.label }}</option>
                }
            </select>

            @if (requestedService.invalid) {
                <div class="error">Requested service is required</div>
            }
        </div>
    }

    <!-- ================= FEEDBACK ================= -->
    @if (type.value === 'FEEDBACK') {
        <div class="form-group">
            <label class="form-label">Feedback Category</label>

            <select class="form-select" formControlName="feedbackCategory">
                <option value="" disabled>Select category</option>
                @for (option of feedbackCategories; track option.value) {
                    <option [value]="option.value">{{ option.label }}</option>
                }
            </select>

            @if (feedbackCategory.invalid) {
                <div class="error">Feedback category is required</div>
            }
        </div>

        <div class="form-group">
            <label class="form-label">Rating</label>

            <select class="form-select" formControlName="rating">
                <option value="" disabled>Select rating</option>
                @for (r of ratings; track r) {
                    <option [value]="r">{{ r }}</option>
                }
            </select>

            @if (rating.invalid) {
                <div class="error">Rating is required</div>
            }
        </div>
    }

    <!-- ================= ADDRESS ================= -->
    @if (type.value === 'COMPLAINT' || type.value === 'REQUEST' || type.value === 'INCIDENT') {
        <div class="form-group">
            <label class="form-label">Address</label>

            <input class="form-input" formControlName="address"/>

            @if (address.invalid && address.dirty) {
                <div class="error">
                    @if (address.errors?.['required']) {
                        <div>Address is required</div>
                    }
                    @if (address.errors?.['minlength']) {
                        <div>
                            Address must be at least
                            {{ address.errors.minlength.requiredLength }}
                            characters
                        </div>
                    }
                    @if (address.errors?.['maxlength']) {
                        <div>
                            Address must be at most
                            {{ address.errors.maxlength.requiredLength }}
                            characters
                        </div>
                    }
                </div>
            }
        </div>
    }

    <!-- ================= DESCRIPTION ================= -->
    @if (['COMPLAINT', 'REQUEST', 'INCIDENT', 'FEEDBACK'].includes(type.value)) {
        <div class="form-group">
            <label class="form-label">Description</label>

            <textarea
                    rows="6"
                    class="form-textarea"
                    formControlName="description"
            ></textarea>

            @if (description.invalid && description.dirty) {
                <div class="error">
                    @if (description.errors?.['required']) {
                        <div>Description is required</div>
                    }
                    @if (description.errors?.['minlength']) {
                        <div>
                            Description must be at least
                            {{ description.errors.minlength.requiredLength }}
                            characters
                        </div>
                    }
                    @if (description.errors?.['maxlength']) {
                        <div>
                            Description must be at most
                            {{ description.errors.maxlength.requiredLength }}
                            characters
                        </div>
                    }
                </div>
            }
        </div>
    }

    <!-- ================= SUBMIT ================= -->
    <button
            type="submit"
            class="btn-submit"
            [disabled]="caseForm.invalid"
    >
        Submit
    </button>

</form>
