@if (case) {
  <div class="case-view">
    <div class="header">
      <span class="type">{{ ('caseTypes.' + case.type) }}:</span>
      <span class="title">{{ case.title | capitalize }}</span>
    </div>
    @if (case.createdAt || case.modifiedAt) {
      <div class="info-section">
        @if (case.status) {
          <div class="section-item">
            <span class="section-item-label">{{'status'}}:</span>
            <span class="section-item-value">{{ case.status | capitalize | removeUnderscores}}</span>
          </div>
        }
        @if (case.createdAt) {
          <div class="section-item">
            <span class="section-item-label">{{'created'}}:</span>
            <span class="section-item-value">{{ case.createdAt | date:'medium' }}</span>
          </div>
        }
      </div>
    }
    <div class="case-description">
      <span class="section-label">{{'description'}}</span>
      <div class="description-content">
        {{ case.processingActions[0].parameters.description }}
      </div>
    </div>
    <div class="content-sections">
      <div class="left-pane">
        <app-comments-section
          [caseId]="case.id"
          (dataUpdated)="getCaseData()"
          [processingActions]="case.processingActions"
        ></app-comments-section>
      </div>
      <div class="right-pane">
        <app-processing-history
          [processingActions]="case.processingActions"
          [processingHistoryNotFound]="processingHistoryNotFound">
        </app-processing-history>
      </div>
    </div>
  </div>
} @else {
  <div class="case-not-found-temp">
    <p class="case-not-found-temp-text">Case not found.</p>
    <a class="case-not-found-temp-btn" routerLink="/"> Back to Case List.</a>
  </div>
}

